<div class="col-md-4">
  <%= link_to book_path(request.book_id), remote: true do %>
    <%= image_tag request.book_image, alt: t("books.image_alt") %>
  <% end %>
  <div class="request-info">
    <%= link_to request_path(request), remote: true do %>
      <h5 class="group inner list-group-item-heading" data-toggle="tooltip"
        data-placement="bottom" data-original-title="<%= request.book_title %>">
        <%= request.book_title %>
      </h5>
      <p>
        <span><%= t("start_day") + ": " %></span>
        <%= request.start_day.strftime("%d/%m/%Y") %>
      </p>
      <p>
        <span><%= t("end_day") + ": " %></span>
        <%= request.end_day.strftime("%d/%m/%Y") %>
      </p>
      <p class="message">
        <span><%= t("message") + ": " %></span>
        <%= request.content %>
      </p>
      <p>
        <span><%= t("status") + ": " %></span>
        <% case when request.processing? %><%= t "processing" %>
        <% when request.accepted? %><%= t "accepted" %>
        <% when request.rejected? %><%= t "rejected" %>
        <% when request.borrowed? %><%= t "borrowed" %>
        <% else %><%= t "returned" %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
